<%- include('partials/header') %>

<body>
<div class="card">
  <div class="bear">
    <div class="login">
      <form action="/register" method="POST">
        <i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;</i><input type="text" placeholder="Username"><br><br>
        <i class="fa fa-unlock-alt" aria-hidden="true">&nbsp;&nbsp;</i><input type="password"placeholder="Password"><br><br>
        <button type="submit" class="shake-button">Register</button>
      </form>
    </div>
  </div>
</div>
</body>



<div class="backg">
  <div class="panda">
    <div class="earl"></div>
    <div class="earr"></div>
    <div class="face">
      <div class="blshl"></div>
      <div class="blshr"></div>
      <div class="eyel">
        <div class="eyeball1"></div>
      </div>
      <div class="eyer">
        <div class="eyeball2"></div>
      </div>
      <div class="nose">
        <div class="line"></div>
      </div>
      <div class="mouth">
        <div class="m">
          <div class="m1"></div>
        </div>
        <div class="mm">
          <div class="m1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pawl">
  <div class="p1">
    <div class="p2"></div>
    <div class="p3"></div>
    <div class="p4"></div>
  </div>
</div>
<div class="pawr">
  <div class="p1">
    <div class="p2"></div>
    <div class="p3"></div>
    <div class="p4"></div>
  </div>
</div>
<div class="handl"></div>
<div class="handr"></div>

  </div>
</div>


    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->



<%- include('partials/header') %>
